body
{
	background-image: url("bg.jpg");
	background-size: 100%;
}

#container{
    margin-top: 100px;
}
#container_img
{
	width:489px;
	height:519px;
	background-color: #e1e2e0;
	margin:auto;
}

#EXIF
{
    opacity:0;


}

span.text-content {
  background: rgba(0,0,0,0.0);
  color: white;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

  
  font-family: "roboto";
  font-weight: lighter;
 

  left:0;
  position: absolute;
  top:60px;
    
    margin-left:50px;
  opacity: 0;
}
span.text-content:hover{
    opacity: 1;
}

#EXIF:hover
{
    opacity: 1;
}

#info_user
{
	display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: "roboto";
    font-size: 14px;
    color:#438bbc;
}

#img_user 
{
	display: inherit;
	padding-right:40px;
	padding-left: 40px;
    position:relative;
}

.search{
	text-align: center;
	padding: 5%;
}
img
{
    
    width:410px;
	height:410px;
	
}

@font-face {
    font-family: "channel";
    src: url('channel.ttf');
}

@font-face {
	font-family: "roboto";
	src: url("Roboto-Regular.ttf");
}