body
{
	background-image: url("bg.jpg");
	background-size: 100%;
}



#img_modif img
{
	width:155px;
	height:150px;
}

#img_modif img:hover
{
	opacity: 0.8;
}

ul.container_img {
  list-style-type: none;
}

ul.container_img li {
  display: inline-block;

  margin: 0 1em 1em 0;
  position: relative;

}
#image_arrondi{
  overflow:hidden;
  -moz-border-radius:70px ;
-webkit-border-radius:70px ;
border-radius:70px ;
}
span.upload-content{
  background: rgba(0,0,0,0.0);
  color: black;
  font-family: "roboto";
  font-weight: lighter;
  cursor: pointer;
  position: relative;
  opacity: 0;
}
#fichier_a_uploader{
  font-size:40px;
   opacity:0; 
   -moz-opacity:0; 
   filter:alpha(opacity=0);
    float:right; 
    cursor:pointer;
}


span.text-content {
  background: rgba(0,0,0,0.0);
  color: white;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

  font-family: "roboto";
  font-weight: lighter;

  left:0;
  position: absolute;
  top:60px;

  opacity: 0;
}
span.text-content:hover{
    opacity: 1;
}



ul.container_img li:hover span.text-content {
  opacity: 1;
}



#modif p
{
	font-family: "roboto";
	font-weight: lighter;
	font-size: 25px;
	padding-bottom: 2%;
}


#modif{

  position: relative;
  margin-top: 100px;
  text-align: center;

}
#formulaire{
  width: 150px;
  height: 150px;
}



#modif input{
  padding: 2%;
}

label
{
  font-size: 15px;
  font-family: courier;
  text-align: center;
}

#submit,#nom,#prenom,#date,#genre,#pseudo,#password1,#email
{
  margin:auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: courier;
  text-align: center;
  width:300px;
  height: 30px;
  border:none;
}

#upload
{
  margin-top: 20px;
}


#submit:hover,#upload:hover
{
  background-color: #d3e6ee;
  border: 1px solid #d3e6ee;
}

#submit,#upload
{
  background-color: #D19275;
  opacity: 0.4;
}

@font-face {
  font-family: "channel";
  src: url('channel.ttf');
}

@font-face {
  font-family: "roboto";
  src: url("Roboto-Regular.ttf");
}

